mixin logo(name)
  fieldset(data-role="controlgroup",data-type="horizontal")
  div(style='text-align: center;')
    img(ng-src='img/logo.png')
  div
    div(style='text-align: center;')
      strong(style='color: rgb(20,74,129);')
        | #{name}
