ul.collapsible-list(data-role="listview", data-inset="true")
  div(data-role="collapsible")
    h3 Change Password
    ul(class="ui-listview ui-listview-inset ui-corner-all ui-shadow")
      li(ng-show="passwordSetStatus", data-role="fieldcontain", class="ui-body ui-br ui-li ui-li-static ui-btn-up-c ui-corner-top")
        | {{passwordSetStatus}}
      li(data-role="fieldcontain", class="ui-body ui-br ui-li ui-li-static ui-btn-up-c ui-corner-top")
        fieldset(data-role="controlgroup",data-type="horizontal", for="oldpassword")
          legend Old Password:
          input(type='password', ng-model="oldpassword", name='oldpassword', value='',placeholder="Old Password")
      li(data-role="fieldcontain", class="ui-body ui-br ui-li ui-li-static ui-btn-up-c ui-corner-top")
        fieldset(data-role="controlgroup",data-type="horizontal", for="password")
          legend New Password:
          input(type='password', ng-model="password", name='password', value='',placeholder="New Password")
      li.ui-body
        fieldset
          button.ui-block-a(ng-click="setPassword()")
            | Set Password
