ul
  li
    a(data-rel='back')
      .ui-icon.ui-icon-arrow-l
      | Back
h3 Menu
ul
  li
    a(href='#pageHome')
      img(src='img/smico3.png')
      | Home
  li
    a(href='#pageTime')
      img(src='img/smico3.png')
      | Manage Hours
  li
    a(href='#pageMenu')
      img(src='img/smico3.png')
      | Manage Menu
  li
    a(href='#pageOrders')
      img(src='img/smico3.png')
      | Manage Orders
  li
    a(href='#pageEmployees')
      img(src='img/smico3.png')
      | Manage Employees
  li
    a(href='#pageSettings')
      img(src='img/smico3.png')
      | Settings
  li
    a(href='#pageLogin', ng-click="logout()")
      img(src='img/smico3.png')
      | Logout
