ul
  li
    a(data-rel='back')
      i.icon-chevron-left.icon-white
      | Back
h3 Menu
ul
  li
    a(href='#pageHome')
      i.icon-home.icon-white
      | Home
  li
    a(href='#pageTime')
      i.icon-time.icon-white
      | Manage Hours
  li
    a(href='#pageMenu')
      i.icon-th-list.icon-white
      | Manage Menu
  li
    a(href='#pageOrders')
      i.icon-shopping-cart.icon-white
      | Manage Orders
  li
    a(href='#pageEmployees')
      i.icon-user.icon-white
      | Manage Employees
  li
    a(href='#pageSettings')
      i.icon-cog.icon-white
      | Manage Capacity and Settings
  li
    a(href='#pageLogin', ng-click="logout()")
      i.icon-off.icon-white
      | Logout
