mixin Order(name, fnname)
  h3 Order ID: {{order.uuid.substr(0,5)}} from {{order.from.customerName}}
  div
    li(class="ui-field-contain ui-body ui-br ui-li ui-li-static ui-btn-up-c",data-icon="false",data-role="fieldcontain")
      .ui-body
        h1 ID: {{order.uuid}}
        h2 From: {{order.from.customerName}}
        p {{order.from.phone}}
        p {{order.from.email}}
    li(class="ui-field-contain ui-body ui-br ui-li ui-btn-up-c",data-icon="false",ng-repeat="item in order.items",data-role="fieldcontain")
      div(href="", ng-click="menuCtrl.addItem(item)")
        div(style="float:left;white-space:normal;")
          div {{item.qty}} {{item.itemName}} 
        div(style="float:right;")
          div ${{item.price}}
    li(class="ui-field-contain ui-body ui-br ui-li ui-btn-up-c",data-icon="false",data-role="fieldcontain")
      div(href="")
        div(style="float:left;white-space:normal;")
          | Total:
        div(style="float:right;")
          | ${{order.total}}
    li(class="ui-field-contain ui-body ui-br ui-li ui-btn-up-c",data-icon="false",data-role="fieldcontain")
      .ui-body
        button(data-role='button', ng-click="#{fnname}(order,$index)")
          | #{name}
