.navbar.navbar-fixed-top
  .navbar-inner
    .container
      img.brand(href="#", src="img/logo.png")
      ul.nav
        .lead(style="padding-top:17px;") Business Capacity Management
      //- .nav-collapse(ng-show="loggedIn")
      //-   ul.nav
      //-     li(ng-active="tab=='Collections'", ng-click="changeActiveTab('Collections')")
      //-       a
      //-         | Collections
      //- ul.nav.pull-right(ng-show="!loggedIn")
      //-   li.dropdown
      //-     a.dropdown-toggle(data-toggle="dropdown")
      //-       | Language: 
      //-       b English
      //-       b.caret
      //-     ul.dropdown-menu
      //-       li
      //-         a English
      //- ul.nav.pull-right(ng-show="loggedIn")
      //-   li.dropdown
      //-     a.dropdown-toggle(data-toggle="dropdown")
      //-       img.inline(src="img/user.png",style="height:18px")
      //-       b.inline.caret
      //-     ul.dropdown-menu
      //-       li
      //-         a(ng-click="signOut()") Sign out