@import "css/datebox.styl"
@import "css/jqm-custom.styl"

.collapsible-list
  .ui-collapsible
    margin: 0
    .ui-li-heading
      margin: 0

.ui-grid-a, .ui-grid-b, .ui-grid-c, .ui-grid-d {
  overflow: visible !important;
}

a i
  margin-right: 8px
  
body
  font-family: Helvetica, Arial /*{global-font-family}*/

