ul
  li
    a(data-rel='back')
      i.icon-chevron-left.icon-white
      | Back
h3 Menu
ul
  li
    a(href='#pageHome')
      i.icon-home.icon-white
      | Home
  li
    a(href="#pageEatNow")
      i.icon-bell.icon-white
      | Eat Now
  li
    a(href="#pageEatLater")
      i.icon-leaf.icon-white
      | Eat Later
  li
    a(href="#pageOrders")
      i.icon-shopping-cart.icon-white
      | Orders
  li
    a(href='#pageSettings')
      i.icon-cog.icon-white
      | Settings
  li
    a(href='#pageLogin', ng-click="logout()")
      i.icon-off.icon-white
      | Logout
