div(data-role='header', data-position='fixed', data-tap-toggle='false', data-update-page-padding='false')
  a(href='#', data-slidemenu='#slidemenu', data-slideopen='false', data-icon='smico', data-corners='false', data-iconpos='notext') Menu
  h1 Eat Later
div(data-role='content', data-theme="c")
  p {{eatLaterCtrl.error}}
  fieldset(data-role="controlgroup",data-type="horizontal")
    legend When: 
    input(ng-model="eatLaterCtrl.time", ng-change="eatLaterCtrl.selectTime()",type='date', data-role='datebox', data-options='{"mode": "timebox", "timeFormat": 24}')
  fieldset(data-role='controlgroup')
    | Try... MIT
    input#eatnow.search(ng-change="eatLaterCtrl.search()",ng-model="eatLaterCtrl.searchTxt", name='', placeholder='Search by name', value='', type='search')
  ul(data-role='listview', data-filter="true", data-inset='true')
    li(ng-repeat="business in eatLaterCtrl.businesses")
      a(ng-click="eatLaterCtrl.select(business)")
        h3 {{business.businessName}}
        p {{business.street_address}} ({{business.phone}})
        .progress
          .bar(ng-style='{width:business.discount+"%"}')
        p.ui-li-aside
          | Discount {{business.discount}}%
  div
    include ../../shared/jade/contactus
