div(data-role='header', data-position='fixed', data-tap-toggle='false', data-update-page-padding='false')
  a(href='#', data-slidemenu='#slidemenu', data-slideopen='false', data-icon='smico', data-corners='false', data-iconpos='notext') Menu
  h1 Manage Settings
div(data-role='content')
  form
    //- ul(data-role="listview", data-inset="true")
    //-   li(data-role="fieldcontain")
    //-     fieldset(data-role="controlgroup",data-type="horizontal", for="name")
    //-       legend Name: 
    //-       input(type='text', ng-model="employeeName", name='name', value='',placeholder="Name")
    //-   li(data-role="fieldcontain")
    //-     fieldset(data-role="controlgroup",data-type="horizontal",for="avgtime") 
    //-       legend Average time to fulfill an order (min):
    //-       input(type='text', ng-model="business.avgtime", name='avgtime', value='', placeholder="15")
    //-   li(data-role="fieldcontain")
    //-     fieldset(data-role="controlgroup",data-type="horizontal",for="maxorders") 
    //-       legend Maximum number of orders that can be fulfilled in 15 minutes: 
    //-       input(type='text', ng-model="business.maxorders", name='maxorders', value='',placeholder="10")
    //-   li(data-role="fieldcontain")
    //-     fieldset(data-role="controlgroup",data-type="horizontal", for="maxdiscount")
    //-       legend Maximum discount per order (%):
    //-       input(type='text', ng-model="business.maxdiscount", name='maxdiscount', value='',placeholder="10")
    include ../../shared/jade/setPassword

